<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Made with Thimble</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <div id="app" class="user-profile">
      <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
          <li class="active">
            <a data-toggle="tab" href="#home">
              <i class="green ace-icon fa fa-user bigger-120"></i>
              Perfil
            </a>
          </li>

          <li>
            <a data-toggle="tab" href="#friends">
              <i class="blue ace-icon fa fa-users bigger-120"></i>
              Amigos
            </a>
          </li>

          <li>
            <a data-toggle="tab" href="#pictures">
              <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
              Fotos
            </a>
          </li>
        </ul>

        <div class="tab-content no-border padding-24">
          <div id="home" class="tab-pane in active">
            <div class="row">
              <div class="col-xs-12 col-sm-3 center">
                <span id="usuario_avatar" class="profile-picture">
                  <img class="editable img-responsive" alt=" Avatar" id="avatar2" :src="avatar">
                </span>

                <div class="space space-4"></div>

                <a href="#" class="btn btn-sm btn-block btn-primary">
                  <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                  <span @click="enviarMensaje" class="bigger-110">Enviar un mensaje</span>
                </a>
              </div><!-- /.col -->

              <div class="col-xs-12 col-sm-9">
                <h4 class="blue">
                  <span class="middle">{{ nombre }}</span>
                </h4>

                <div class="profile-user-info">
                  <div class="profile-info-row">
                    <div class="profile-info-name"> Alias </div>

                    <div class="profile-info-value">
                      <span>{{ alias }}</span>
                    </div>
                  </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name"> Ubicación </div>

                    <div class="profile-info-value">
                      <i class="fa fa-map-marker light-orange bigger-110"></i>
                      <span>{{ ubicacion }}</span>
                    </div>
                  </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name"> Edad </div>

                    <div class="profile-info-value">
                      <span>{{ edad }}</span>
                    </div>
                  </div>

                </div>

                <div class="hr hr-8 dotted"></div>

                <div class="profile-user-info">
                  <div v-if="web" class="profile-info-row">
                    <div class="profile-info-name"> Sitio web </div>

                    <div class="profile-info-value">
                      <a :href="web" target="_blank">{{ web }}</a>
                    </div>
                  </div>

                  <div v-if="facebookUrl" class="profile-info-row">
                    <div class="profile-info-name">
                      <i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
                    </div>

                    <div class="profile-info-value">
                      <a :href="facebookUrl">Find me on Facebook</a>
                    </div>
                  </div>

                  <div v-if="twitterUrl" class="profile-info-row">
                    <div class="profile-info-name">
                      <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
                    </div>

                    <div class="profile-info-value">
                      <a :href="twitterUrl">Follow me on Twitter</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="space-20"></div>

            <div v-if="bio" class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="widget-box transparent">
                  <div class="widget-header widget-header-small">
                    <h4 class="widget-title smaller">
                      <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                      Algo acerca me
                    </h4>
                  </div>

                  <div class="widget-body">
                    <div class="widget-main">{{ bio }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /#home -->

          <div id="friends" class="tab-pane">
            <div class="profile-users clearfix">

              <div v-for="amigo in amigos" :key="amigo.nombre" class="itemdiv memberdiv">
                <div class="inline pos-rel">
                  <div class="user">
                    <a href="#">
                      <img :src="amigo.avatar || sinAvatar" :alt="amigo.nombre">
                    </a>
                  </div>

                  <div class="body">
                    <div class="name">
                      <a href="#">
                        <span class="user-status status-online"></span>
                        {{ amigo.nombre }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="hr hr10 hr-double"></div>

          </div><!-- /#friends -->

          <div id="pictures" class="tab-pane">

            <ul class="ace-thumbnails">
              <li v-for="foto in fotos">
                <a href="#" data-rel="colorbox">
                  <img alt="150x150" :src="foto">
                  <div class="text">
                    <div class="inner">Sample Caption on Hover</div>
                  </div>
                </a>
              </li>

            </ul>
          </div><!-- /#pictures -->
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/usuario.js"></script>
  </body>
</html>